.time-card {
  display: flex;
  margin: 0 -12px;

  .chip {
    align-self: flex-start;
    margin-top: 18px;

    .label {
      min-width: 52px;
      text-align: center;
      margin: 0 4px;
    }
  }

  .card {
    margin: 8px;
    padding: 4px 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
  }

  .grid {
    padding: 4px 0;
  }

  .icon {
    font-size: 28px;
    margin: -4px;
  }
}

.border--bottom {
  padding-bottom: 4px;
  margin-bottom: 4px;

  @each $color in $and-colors {
    &__#{nth($color, 1)} {
      border-bottom: solid nth($color, 2);
    }
  }
}

