<div class="time-card">
  <ion-chip [color]="pillClass">
    <ion-label>{{ cardDetail.time }}</ion-label>
  </ion-chip>

  <ion-card color="dark">
    <ion-card-content [class]="cardClass">
      <ion-card-title>{{ cardDetail.title }}</ion-card-title>
      <p>{{ cardDetail.detail }}</p>
      <a *ngIf="cardDetail.link" [href]="cardDetail.link" target="_blank" [class]="textClass">{{cardDetail.linkText}}</a>
      <div *ngIf="cardDetail.acts">
        <ion-grid>
          <ion-row>
            <ion-col col-md-1 col-2></ion-col>
            <ion-col col-md-2 col-5><b>Stage</b></ion-col>
            <ion-col col-md-4 col-5><b>Act</b></ion-col>
          </ion-row>

          <ion-row *ngFor="let act of cardDetail.acts; let i = index;">
            <ion-col col-md-1 col-2>
              <ion-icon
                [color]="getColor(act.stage)"
                [name]="'custom-' + act.stage"
              >
              </ion-icon>
            </ion-col>
            <ion-col col-md-2 col-5>{{ act.stageName }}</ion-col>
            <ion-col col-md-4 col-5>{{ act.act }}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
</div>
