<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <logo type="dekkerfestLogo"></logo>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center class="main-bg">
  <section class="mb--20">
    <h2 class="pt--10">Henrietta Street: 8:30 - 13:00</h2>
    <app-address line1="AND Digital" line2="18 Henrietta Street" line3="London" postcode="WC2E 8QH"></app-address>
    <app-map
      mapSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.130977584954!2d-0.12635208431354775!3d51.
      51081301827474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cc0debbc79%3A0x2e8d09d9746203a1!2s18+
      Henrietta+St%2C+London+WC2E+8QG!5e0!3m2!1sen!2suk!4v1526469924890">
    </app-map>
  </section>
  <section class="mb--20">
    <h2>Hyde Park: 13:45 - 20:00</h2>
    <app-address line1="Will to Win" line2="W Carriage Dr" line3="London" postcode="W2 2UH"></app-address>
    <app-map
      mapSrc="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.579098046351!2d-0.1755456841066455!
    3d51.50259097963435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760549c913c809%3A0xd3fadbfa56d35cb6!
    2sWill+to+Win+Hyde+Park+Sport+Centre!5e0!3m2!1sen!2suk!4v1525951960344">
    </app-map>
  </section>
</ion-content>
