<ion-tabs color="dark">
  <ion-tab [root]="tab1Root" tabTitle="Morning" tabIcon="sunny"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Afternoon" tabIcon="moon"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Locations" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="FAQ" tabIcon="help"></ion-tab>
</ion-tabs>
