faq-accordion {
  .expand-wrapper {
    transition: max-height 0.8s linear;
  }
  .collapsed {
    height: 0 !important;
    display:block;
    overflow:hidden;
    transition: max-height 0.8s linear;
    max-height: 0;
  }
  .accordion-header {
    display:inline-block;
    color: nth($and-colors, 3);
  }
  .accordion-text {
    font-size: 16px
  }
}
