<div>
  <ion-item text-wrap color="dark">
    <a detail-none (click)="expandFaq()" class="no-decoration">
      <h2 class="accordion-header">{{faq.question}}</h2>
      <div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded">
        <p *ngIf="!faq.link" class="accordion-text">
          {{faq.answer}}
        </p>
        <a *ngIf="faq.link" class="accordion-text" [href]="faq.link">
          {{faq.answer}}
        </a>
      </div>
    </a>
  </ion-item>
</div>
