@font-face {
  font-family: "poppins";
  src: url("#{$font-path}/poppins/poppins-bold-webfont.ttf") format("ttf"),
    url("#{$font-path}/poppins/poppins-bold-webfont.woff") format("woff"),
    url("#{$font-path}/poppins/poppins-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
};

@font-face {
  font-family: "poppins";
  src: url("#{$font-path}/poppins/poppins-light-webfont.ttf") format("ttf"),
    url("#{$font-path}/poppins/poppins-light-webfont.woff") format("woff"),
    url("#{$font-path}/poppins/poppins-light-webfont.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
};

@font-face {
  font-family: "poppins";
  src: url("#{$font-path}/poppins/poppins-medium-webfont.ttf") format("ttf"),
    url("#{$font-path}/poppins/poppins-medium-webfont.woff") format("woff"),
    url("#{$font-path}/poppins/poppins-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
};

@font-face {
  font-family: "poppins";
  src: url("#{$font-path}/poppins/poppins-regular-webfont.ttf") format("ttf"),
    url("#{$font-path}/poppins/poppins-regular-webfont.woff") format("woff"),
    url("#{$font-path}/poppins/poppins-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
};
