ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-anchor"] {
    mask-image: url(../assets/logos/anchor.svg);
  }
  &[class*="custom-cove"] {
    mask-image: url(../assets/logos/cove.svg);
  }
  &[class*="custom-dekk"] {
    mask-image: url(../assets/logos/dekk.svg);
  }
  &[class*="custom-dekkerfest"] {
    mask-image: url(../assets/logos/dekkerfest-logo.svg);
  }
  &[class*="custom-lighthouse"] {
    mask-image: url(../assets/logos/lighthouse.svg);
  }
  &[class*="custom-net"] {
    mask-image: url(../assets/logos/net.svg);
  }
  &[class*="custom-portside"] {
    mask-image: url(../assets/logos/portside.svg);
  }
  &[class*="custom-starboard"] {
    mask-image: url(../assets/logos/starboard.svg);
  }
}
