// Killers
// --------------------------------------------------

$directions: (
  t: top,
  b: bottom,
  l: left,
  r: right
);

@each $abbreviation, $direction in $directions {
  .kill--m#{$abbreviation} {
    margin-#{$direction}: 0;
  }
}

@each $abbreviation, $direction in $directions {
  .kill--p#{$abbreviation} {
    padding-#{$direction}: 0;
  }
}

$aligns: (
  left,
  right,
  center
);


// aligns
// --------------------------------------------------

@each $alignment in $aligns {
  .#{$alignment} {
    text-align: $alignment;
  };
};
