// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
  padding: 0 20px 0 20px;
}

.pt {
  &--10 {
    padding-top: 10px;
  }
}

.mb {
  &--20 {
    margin-bottom: 20px;
  }
}

.card-content .card-title,
.title .toolbar-title,
h1,
h2,
h3 {
  font-family: 'poppins';
  font-weight: lighter;
}

.main-bg{
  background-color: $dark;
  color: white;
}

@each $color in $and-colors {
  .text--#{nth($color, 1)} {
    color: nth($color, 2);
  }
}
