<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <logo type="dekkerfestLogo"></logo>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-bg">
  <h2 class="center kill--mt">
    Afternoon Schedule
  </h2>

  <p class="center kill--mt">
    Please arrive at least a few minutes<br/>
    before your session.
  </p>

  <hr>

  <time-listing [listings]="sessions"></time-listing>
</ion-content>
