.googlemap {
  position: relative;
  padding-bottom: 75%; /* 4:3 ratio*/
  height: 0;
  overflow: hidden;
}

.googlemap iframe {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;
}
