<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      <logo type="dekkerfestLogo"></logo>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="main-bg">
  <faq-list [faqs]="faqs"></faq-list>
</ion-content>
